@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    overflow-x: hidden;
  }
}

@layer components {
  .typo-h1 {
    @apply font-display text-2xl md:text-4xl lg:text-5xl font-semibold;
  }

  .typo-h2 {
    @apply font-display text-2xl md:text-3xl lg:text-4xl font-semibold;
  }

  .typo-h3 {
    @apply font-display text-2xl md:text-3xl font-semibold;
  }

  .typo-h4 {
    @apply font-display text-2xl font-semibold;
  }

  .typo-h5 {
    @apply font-display text-lg font-semibold;
  }

  .typo-h6 {
    @apply font-display text-base font-semibold;
  }

  .typo-blockquote {
    @apply font-body text-lg lg:text-xl font-normal;
  }

  .typo-intro {
    @apply font-body text-base font-semibold;
  }

  .typo-body {
    @apply font-body text-base font-normal;
  }

  .typo-small {
    @apply font-body text-sm font-normal;
  }

  /* Container */
  .container-xl {
    @apply mx-auto px-4;
    max-width: 1440px;
  }

  .container-lg {
    @apply mx-auto px-4;
    max-width: 1300px;
  }

  .container-md {
    @apply mx-auto px-4;
    max-width: 1100px;
  }

  .container-sm {
    @apply mx-auto px-4;
    max-width: 900px;
  }

  /* Row */
  .row {
    @apply -mx-4 flex flex-row flex-wrap;
  }

  /* Col */
  .col {
    @apply px-4;
  }

  .col-full {
    @apply col flex-1/1 min-w-full;
  }

  .col-1 {
    @apply col flex-1/12 min-w-1/12;
  }

  .col-2 {
    @apply col flex-2/12 min-w-2/12;
  }

  .col-3 {
    @apply col flex-3/12 min-w-3/12;
  }

  .col-4 {
    @apply col flex-4/12 min-w-4/12;
  }

  .col-5 {
    @apply col flex-5/12 min-w-5/12;
  }

  .col-6 {
    @apply col flex-6/12 min-w-6/12;
  }

  .col-7 {
    @apply col flex-7/12 min-w-7/12;
  }

  .col-8 {
    @apply col flex-8/12 min-w-8/12;
  }

  .col-9 {
    @apply col flex-9/12 min-w-9/12;
  }

  .col-10 {
    @apply col flex-10/12 min-w-10/12;
  }

  .col-11 {
    @apply col flex-11/12 min-w-11/12;
  }
}

@layer utilities {
  .pb-full {
    padding-bottom: 100%;
  }
}
